<ion-card scrollY="true">
  <div *ngIf="poi.infoHtml">
    <img [src]="poi.infoHtml" />
    <ion-fab right top #fab disabled>
      <button ion-fab *ngIf="poi.infoHtml" color="white">
        <img style="width: 44px; height: 44px" src="{{ icon }}" />
      </button>
    </ion-fab>
  </div>

  <ion-card-content>
    <div>
      <ion-card-title> {{ poi?.poiName }} </ion-card-title>

      <p *ngIf="question" style="margin-top: 10px">
        <b>Pregunta: </b>{{ question.question }}
      </p>

      <!-- final user view -->

      <ion-grid *ngIf="question.type === 'TrueFalse'">
        <ion-row>
          <ion-col col-6>
            <button
              color="success"
              ion-button
              small
              icon-start
              item-end
              (click)="sendAnswer(true)"
              style="margin-left: 20%; margin-right: 20%; width: 60%"
            >
              Verdadero
            </button>
          </ion-col>
          <ion-col col-6>
            <button
              color="danger"
              ion-button
              small
              icon-start
              item-end
              (click)="sendAnswer(false)"
              style="margin-left: 20%; margin-right: 20%; width: 60%"
            >
              Falso
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="question.type === 'MultipleChoice'">
        <ion-row>
          <ion-col col-12 *ngFor="let option of question.options">
            <button
              ion-button
              small
              icon-start
              item-end
              (click)="sendAnswer(option.correct)"
              style="margin-left: 20%; margin-right: 20%; width: 60%"
            >
              {{option.text}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="question.type === 'Closed'">
        <ion-item>
          <ion-label color="primary" stacked>Respuesta</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="userText"
            placeholder="respuesta"
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col col-12>
            <button
              ion-button
              small
              icon-start
              item-end
              (click)="sendAnswer()"
              style="margin-left: 20%; margin-right: 20%; width: 60%"
            >
              Confirmar
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>
