<ion-card>
  <ion-card-content>
    <ion-item-divider
      style="height: 40px; text-align: center"
      color="myBlueColour"
    >
      Preguntas {{amount}}
    </ion-item-divider>
    <ion-scroll
      scrollY="true"
      style="height: 64vh !important; overflow: hidden !important"
    >
      <ion-list *ngIf="questions">
        <div
          ion-item
          *ngFor="let qs of questions; let even = even"
          [color]="even? 'greyItemList' : 'whiteItemList'"
        >
          {{qs.question}}
          <button
            item-end
            ion-button
            [disabled]="true"
            *ngIf="!qs.visible && mustShowSwitchPoiVisibility"
          >
            <ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon>
          </button>
          <button item-end ion-button (click)="editQuestion(qs)">
            <ion-icon ios="ios-brush" md="md-brush"></ion-icon>
          </button>
          <button
            ion-button
            item-end
            (click)="removeQuestion(qs)"
            color="danger"
          >
            <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
          </button>
        </div>
      </ion-list>
      <div *ngIf="questions.length == 0">
        <p
          style="
            color: gray;
            font-size: 14px;
            text-align: center;
            padding-top: 2%;
          "
        >
          No ha creado ninguna pregunta
        </p>
      </div>
    </ion-scroll>
  </ion-card-content>
</ion-card>
